<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title><%= title %></title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <script defer type='module' src="javascripts/script.js"></script>
	</head>
	<body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id='map'></div>
	</body>
</html>
